<div class="form-group optional generic_file_has_year_only">
  <%= f.input :has_year_only, as: :boolean, label: "Year Only?" %>
</div>

<div class="form-group optional generic_file_date_created">
  <%= f.label :date_created %>
  <%= f.date_field :date_created,
                   class: 'form-control',
                   name: "generic_file[date_created][]",
                   value: "#{@generic_file.date_created.first if @generic_file}",
                   required: f.object.required?(:date_created)
  %>
</div>
