@import 'fonts';
@import 'colors';
@import 'helpers';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background-color: #f1f1f1;
  color: #fff;
  font-family: $primaryCopyFont;
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $primaryHeaderFont;
  padding: 0;
  margin: 0;
  color: #000;
}

a {
  color: #4ec3e0;
  text-decoration: none;
}

a img
{
  border: none;
}

// States
.is-hidden {
  display: none;
}

.main-content-region > .ember-view {
  height: 100%;
}