// Colors
$blue: #005372;

// Neutral Palette
$white: #fff;
$black: #333;
$neutral-dark: #292929;
$neutral-dark-mid: #565a5c;
$neutral-mid: #878B8C;
$neutral-light: #e8e8e8;
$neutral-light-x: #f1f1f1;

// Accent Palette
$accent-primary: $blue;