// These two constants must match those in flow_grid.js.coffee
$grid-max: 30;
$cell-max: 8;

$cell-min: 4;
$grid-min: $grid-max - $cell-max + 1;

@mixin stellar-flow() {
  @for $g from $grid-min through $grid-max {
    .of-#{$g} {
      padding-top: (100% / $g) * 6;
    }
    @for $c from $cell-min through $cell-max {
      .c-#{$c}.of-#{$g} {
        width: (100% / $g) * $c;
      }
    }
  }
}

.flow-grid {
  padding: 5px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@include stellar-flow();

.grid-cell {
  position: relative;
  float: left;
  box-sizing: border-box;
  background-color: #ccc;
  overflow: hidden;
  border: 5px solid white;
}

.is-selected {
  border: 5px solid red;
}

.grid-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cell-details {
  display: none;

  .cell-details-container & {
    display: block;
  }
}

.cell-details-container {
  background-color: red;
  height: 0;
  position: relative;
  width: 100%;
  clear: both;
  transition: height .3s;

  &.is-expanded {
    height: 300px;
  }
}
