.search-filters {
  background-color: #fff;

  .row:first-of-type {
    border-bottom: 1px solid $neutral-light;
  }

  .col-1-2 {
    padding: 0 12px;
  }
}

.search-filter {
  position: relative;
  height: 10vh;
  max-height: 80px;
  min-height: 50px;
  vertical-align: center;
}

.search-filter-inner {
  padding-left: 100px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.filter-list {
  @extend %clearfix;
  margin: 0;
  padding: 0;
  position: relative;
}

.filter-title {
  color: $neutral-mid;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
}

.works-list {
  border: 1px solid #CAC9C9 !important;  /*Removes border*/
  -webkit-appearance: none;  /*Removes default chrome and safari style*/
  -moz-appearance: none; /* Removes Default Firefox style*/
  background: #fff url(dropdown-arrow.png) no-repeat right 12px center;
  width: 80%; /*Width of select dropdown to give space for arrow image*/
  text-indent: 0.01px; /* Removes default arrow from firefox*/
  text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
  color: #757575;
  border-radius: 3px;
  outline: none;
  padding: 10px 15px;
  box-shadow: inset 0 10px 10px 0 rgba(206,205,205, 0.2);
}

.filter-types {
  list-style-type: none;
}

.filter-type-item,
.filter-venue-item {
  float: left;
  margin-right: 15px;

  a {
    color: lighten($neutral-dark-mid, 40%);
    cursor: pointer;
    font-size: 14px;

    &:hover {
      color: lighten($neutral-dark-mid, 20%);
    }

    &.active {
      color: #cf794e;
    }
  }
}

.file-type {
  background-image: url('icons/icons-file-type.png');
  background-position: 0 -41px;
  cursor: pointer;
  display: block;
  height: 40px;
  overflow: hidden;
  text-indent: -9999px;
  width: 40px;

  &:hover {
    opacity: .6;
  }

  &.active {
    opacity: 1;
  }

  &[data-type="images"] {
    background-position: 0 -41px;

    &:hover,
    &.active {
      background-position: 0 0;
    }
  }

  &[data-type="videos"] {
    background-position: -42px -41px;

    &:hover,
    &.active {
      background-position: -42px 0;
    }
  }

  &[data-type="audios"] {
    background-position: -84px -41px;

    &:hover,
    &.active {
      background-position: -84px 0;
    }
  }

  &[data-type="articles"] {
    background-position: -126px -41px;

    &:hover,
    &.active {
      background-position: -126px 0;
    }
  }
}

// Range slider overrides

.irs-from,
.irs-to,
.irs-single {
  color: $neutral-mid;
  background: none;
  font-family: $primaryCopyFont;
  font-weight: 600;
}
