.videos-grid {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;

  li {
    display: inline-block;
    margin: 0;
    vertical-align: top;

    a, a img {
      border: none;
      outline: none;
      display: block;
      position: relative;
    }

    a img {
      height: 250px;
    }

    &.video-grid-expanded > a::after {
      top: auto;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: #434343;
      border-width: 15px;
      left: 50%;
      margin: -20px 0 0 -15px;
    }
  }

  .card__content {
    min-height: 56px;
    overflow: hidden;
  }
  
  .card__content__title {
    color: #5d5d5d;
  }

  .card__content__date {
    bottom: 11px;
    left: initial;
    right: 15px;
    margin: 0;
    color: #989898;
  }
}

.video-grid-expander {
  position: absolute;
  background: #434343;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 10px;
  text-align: left;
  height: 0;
  overflow: hidden;
}

.video-grid-expander-inner {
  height: 100%;
}

.video-grid-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 90;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    height: 1px;
    background: #888;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background: #333;
  }
}

.video-grid-fullimg,
.video-grid-details {
  width: 50%;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.video-grid-details {
  padding: 0 40px 0 20px;
}

.video-grid-fullimg {
  text-align: center;

  img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
  }
}

.video-grid-video {
  background-color: #000;
  height: 100%;
  float: left;
}

.video-grid-details h3 {
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  padding: 40px 0 10px;
  margin-bottom: 10px;
}

.video-grid-details p {
  font-weight: 300;
  font-size: 14px;
  color: #b3b3b3;
}

.video-grid-details a {
  font-weight: 700;
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  border: 3px solid #333;
  display: inline-block;
  margin: 30px 0 0;
  outline: none;
}

.video-grid-details a::before {
  content: '\2192';
  display: inline-block;
  margin-right: 10px;
}

.video-grid-details a:hover {
  border-color: #999;
  color: #999;
}

.video-grid-loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ddd;
  box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  animation: loader 0.5s infinite ease-in-out both;
}

@keyframes loader {
  0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {
  .video-grid-expander h3 { font-size: 32px; }
  .video-grid-expander p { font-size: 13px; }
  .video-grid-expander a { font-size: 12px; }
}

@media screen and (max-width: 650px) {
  .video-grid-fullimg { display: none; }
  .video-grid-details { float: none; width: 100%; }
}