<section class="results-section articles <%= @articles.has_items? ? "is-active" : "" %>">
  <div class="sidebar-item">
    <a class="file-type">
      <img src="<%= image_path("icons/icon-articles.png") %>" alt="Articles" class="filter-type-image" />
    </a>
    <p class="file-type-count"><%= @articles.total_items %></p>
  </div>
  <h2 class="results-section-title">Documents</h2>
  <div class="card-grid">
    <ul class="js-results"></ul>
  </div>
  <div class="paging"></div>
</section>
