<li class="card-container is-hidden">
  <div class="card-figure-img">
    <%= image_tag "unreadable_item", alt: "Unreadable Item" %>
  </div>
  <div class="card-content">
    <h3 class="card-content-title">
      <%= article.title.first %>
    </h3>
    <h4 class="card-content-subtitle">
      <%= article.production_names %>
    </h4>
  </div>
</li>
