<% if @results.has_audios? %>
<section class="results-section audios is-active" data-total-items='1'>
  <div class="sidebar-item">
    <a class='file-type active' data-type='audios'>Audios</a>
    <p class="file-type-count"><%= @results.audio_count %></p>
  </div>
  <h2 class="results-section-title">Audio</h2>
  <div>
    <% @results.audios.each do |audio| %>
      <img src="<%= sufia.download_path(audio, datastream_id: 'thumbnail') %>" alt="<%= audio.title.first %>" />
      <audio controls="controls">
        <source src="<%= sufia.download_path(audio) %>" />
      </audio>
      </li>
    <% end %>
  </div>
  <div class="paging">
    if hasNextPage
      a{action 'page' 'audios' 1} href="#"
        | More
  </div>
</section>
<% end %>
