<section class="results-section audios <%= @audios.has_items? ? "is-active" : "" %>">
  <div class="sidebar-item">
    <a class="file-type">
      <img src="<%= image_path("icons/icon-audios.png") %>" alt="Audios" class="filter-type-image" />
    </a>
    <p class="file-type-count"><%= @audios.total_items %></p>
  </div>
  <h2 class="results-section-title">Audio</h2>
  <div class="audios-grid">
    <ul class="js-results"></ul>
  </div>
  <div class="loading"><p>Loading...</p></div>
  <div class="paging is-hidden"></div>
</section>
