<header class="header-primary" style="background-image: url(<%= image_path('header-bg-richard.jpg') %>);">
  <div class="header-logo">
    <%= image_tag("osf-logo.png", alt: "Oregon Shakespeare Festival") %>
  </div>
  <nav class="nav-primary">
    <a class="nav-primary__link" href="https://www.osfashland.org/en/connect-with-us/explore-our-stories.aspx">Connect With Us</a>
    <a class="nav-primary__link" href="https://www.osfashland.org/plan-your-visit/visitor-info.aspx">Plan Your Visit</a>
    <a class="nav-primary__link" href="https://www.osfashland.org/give-and-join/individuals.aspx">Give and Join</a>
    <a class="nav-primary__link btn-primary" href="https://www.osfashland.org/experience-osf/current-season/buy-tickets.aspx">Buy Tickets</a>
  </nav>
  <h1 class="page-title">Welcome to the Archive</h1>
  <div class="search-archive">
    <%= search_field_tag(:q, @search.search_term, placeholder: "What are you looking for?", autofocus: true, class: "search-archive-field") %>
    <%= submit_tag("Search", name: nil, class: "btn-primary search-archive-submit") %>
  </div>
</header>
