<li class="card-container">
  <a class="card card--has-image card--overlay-content">
    <figure class="card__figure">
      <img class="card__figure__image" src="<%= sufia.download_path(image, file: 'thumbnail') %>" alt="<%= image.title.first %>" />
    </figure>
    <div class="card__content">
      <h1 class="card__content__title">
        <%= image.title.first %>
      </h1>
      <p class="card__content__date">
        <%= formatted_creation_date(image) %>
      </p>
    </div>
  </a>
</li>
