<section class="results-section images <%= @images.has_items? ? "is-active" : "" %>">
  <div class="sidebar-item">
    <a class="file-type">
      <img src="<%= image_path("icons/icon-images.png") %>" alt="Images" class="filter-type-image" />
    </a>
    <p class="file-type-count"><%= @images.total_items %></p>
  </div>
  <h2 class="results-section-title">Images</h2>

  <div>
    <div class="flow-grid js-results"></div>
    <div class="loading"><p>Loading...</p></div>
    <div class="paging is-hidden"></div>
  </div>
</section>
