<section class="results-section images <%= @images.has_items? ? "is-active" : "" %>">
  <div class="sidebar-item">
    <a class="file-type">
      <img src="<%= image_path("icons/icon-images.png") %>" alt="Images" class="filter-type-image" />
    </a>
    <p class="file-type-count"><%= @images.total_items %></p>
  </div>
  <h2 class="results-section-title">Images</h2>

  <div id="grid-gallery" class="grid-gallery">
    <section class="grid-wrap">
      <ul class="grid card-grid"></ul>
    </section>
    <div class="paging"></div>
    <section class="slideshow">
      <ul></ul>
      <nav>
        <span class="icon nav-prev"></span>
        <span class="icon nav-next"></span>
        <span class="icon nav-close"></span>
      </nav>
      <div class="info-keys icon">Navigate with arrow keys</div>
  </div>
</section>
