<div class="main-content-region">
  <div class="container">
    <%= render 'searches/images' %>
    <%= render 'searches/videos' %>
    <%= render 'searches/audios' %>
    <%= render 'searches/articles' %>
  </div>
</div>
