<section class="results-section videos <%= @videos.has_items? ? "is-active" : "" %>">
  <div class="sidebar-item">
    <a class="file-type">
      <img src="<%= image_path("icons/icon-videos.png") %>" alt="Videos" class="filter-type-image" />
    </a>
    <p class="file-type-count"><%= @videos.total_items %></p>
  </div>
  <h2 class="results-section-title">Videos</h2>
  <ul class="js-videos-grid videos-grid"></ul>
  <div class="loading"><p>Loading...</p></div>
  <div class="paging is-hidden"></div>
</section>
