<div data-page="<%= @articles.next_page %>" data-more="<%= @articles.show_more? %>">
  <div id="articles">
    <% @articles.files.each do |article| %>
      <%= render partial: "article", object: article %>
    <% end %>
  </div>

  <div class="paging">
    <% if @articles.show_more? %>
    <a href="#" class="js-load-more-articles" data-page="<%= @articles.next_page %>">Load More</a>
    <% end %>
  </div>
</div>
