<div data-page="<%= @audios.next_page %>" data-more="<%= @audios.show_more? %>">
  <div id="audios">
    <% @audios.files.each do |audio| %>
      <%= render partial: "audio", object: audio %>
    <% end %>
  </div>

  <div class="paging">
    <% if @audios.show_more? %>
    <a href="#" class="js-load-more-audios" data-page="<%= @audios.next_page %>">Load More</a>
    <% end %>
  </div>
</div>
