<div class="sidebar-container"></div>

<div class="page-container">
  <%= form_tag(searches_path, method: "get") do %>
    <%= render "header" %>
    <%= render "filters" %>
  <% end %>
  <%= render "search_results" %>

  <footer />
</div>

<script type="text/javascript">
  $(function(){
    $('.js-year-range').ionRangeSlider({
      type: "double",
      min: "1935",
      max: "2015",
      hide_min_max: true,
      step: 1 //,
      // onFinish: function () {
      //   that.set('target', that.controller.get('target'));
      //   that.send('search');
      // }
    });

    // Init the image gallery
    var gallery = $('#grid-gallery')
    if (gallery.length) {
      new CBPGridGallery(gallery.get(0));
    }

    // Init the video viewer
    VideoGrid.init();
  });
</script>
