<div data-page="<%= @videos.next_page %>" data-more="<%= @videos.show_more? %>">
  <div id="videos">
    <% @videos.files.each do |video| %>
      <%= render partial: "video", locals: { video: video } %>
    <% end %>
  </div>

  <div class="paging">
    <% if @videos.show_more? %>
    <a href="#" class="js-load-more-videos" data-page="<%= @videos.next_page %>">Load More</a>
    <% end %>
  </div>
</div>
