input {
  border: 1px solid rgb(227, 227, 227);
  border-radius: 3px;
  box-shadow: none;
  background-color: rgb(255, 255, 255);
  height: 38px;
  font-size: 14px;
  line-height: normal;
  padding: 10px;
  outline: none;
}
