<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>OSF Archives</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/client.css">
  <link rel="stylesheet" href="assets/osf-archives-web.css">
</head>
<body>
  <div class="sidebar-container"></div>
  <div class="page-container">
    <header class="header-primary" style="background-image: url('assets/header-bg-richard.jpg');">
      <div class="header-logo">
        <img src="assets/osf-logo.png" alt="Oregon Shakespeare Festival" />
      </div>
      <nav class="nav-primary">
        <a class="nav-primary__link" href="#">Connect With Us</a>
        <a class="nav-primary__link" href="#">Plan Your Visit</a>
        <a class="nav-primary__link" href="#">Give and Join</a>
        <a class="nav-primary__link btn-primary" href="#">Buy Tickets</a>
      </nav>
      <h1 class="page-title">Welcome to the Archive</h1>
      <div class="search-the-archive">
        <input class="js-search" placeholder="What are you looking for?" autofocus=true action="search" insert-newline="search">
        <button class="btn-primary" type="button">Search</button>
      </div>
    </header>
    <div class="search-filters">
      <div class="row">
        <div class="section-container">
          <div class="col-1-2">
            <div class="search-filter filter-works">
              <div class="search-filter-inner">
                <h3 class="filter-title">Work</h3>
                <select class="works-list">
                  <option>Select a work</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-1-2">
            <div class="search-filter filter-venues">
              <div class="search-filter-inner">
                <h3 class="filter-title">Venue</h3>
                <ul class="js-filters filter-list">
                  <li class="filter-venue-item">
                    <a class='active' data-type='Elizabethan'>Elizabethan</a>
                  </li>

                  <li class="filter-venue-item">
                    <a class='active' data-type='Thomas'>Thomas</a>
                  </li>
                  <li class="filter-venue-item">
                    <a class='active' data-type='Angus Bowmer'>Angus Bowmer</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="section-container">
          <div class="col-1-2">
            <div class="search-filter filter-types">
              <div class="search-filter-inner">
                <h3 class="filter-title">File Type</h3>
                <ul class="js-filters filter-list">
                  <li class="filter-type-item">
                    <a class='file-type active' data-type='images' data-per-page='15'>Images</a>
                  </li>
                  <li class="filter-type-item">
                    <a class='file-type active' data-type='videos'>Vidoes</a>
                  </li>
                  <li class="filter-type-item">
                    <a class='file-type active' data-type='audios'>Audios</a>
                  </li>
                  <li class="filter-type-item">
                    <a class='file-type active' data-type='articles'>Documents</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-1-2">
            <div class="search-filter filter-year">
              <div class="search-filter-inner">
                <h3 class="filter-title">Year Range</h3>
                <input class="js-year-range" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-content-region">
      <div class="container">
        <%= render 'searches/images' %>
        <%= render 'searches/videos' %>
        <%= render 'searches/audios' %>
        <%= render 'searches/articles' %>
      </div>
    </div>
    <footer />
  </div>

  <script src="assets/vendor.js"></script>
  <script src="assets/osf-archives-web.js"></script>
</body>
</html>
